# Sessione
declare/

# Configurazione
config.js
cookie.txt

# Database
database.json
media/
media/
tmp/

# Moduli e Dipendenze
node_modules/
package-lock.json

# Log e file di sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env